@font-face {
  font-family: 'HoneyGuide';
  src: url(./HoneyGuide.otf) format('otf');
}

.CenterImg {
  position: relative;
  transform: translate(-50%);
  left: 50%;
}

.title {
  font-family: 'HoneyGuide' !important;
  font-weight: 300;
  font-size: medium;
  font-style: normal;
  color: #fff;
}

.ButtonRight {
  position: relative;
  transform: translate(-85%);
  left: 85%;
}

.Container100 {
  width: 100vw;
}

@media screen and (max-width: 600px) {
  .CenterImg {
    position: relative;
    left: 10%;
  }

  .ButtonRight {
    position: relative;
    left: 50%;
  }
}

@media screen and (max-width: 1200px) and (min-width: 600px) {
  .CenterImg {
    position: relative;
    transform: translate(-50%);
    left: 50%;
  }

  .ButtonRight {
    position: relative;
    left: 75vw;
  }
}
