.calendar-container,
.calendar,
.calendar-header,
td,
.calendar-margin {
  margin-top: 15vh;
}

.boardrows {
  margin-left: 30vh;
  clear: both;
  content: '';
  display: table;
}

.calendar-squale {
  background: white;
  border: 2px solid rgb(0, 74, 117);
  float: left;
  height: 140px;
  margin-right: -2px;
  margin-top: -2px;
  padding: 0;
  text-align: left;
  width: 140px;
}

.para-squale {
  margin-top: 5px;
  margin-left: 10px;
  font-size: 24px;
  font-weight: 500;
  color: rgb(0, 74, 117);
}

.butt-add {
  margin-left: 10vh;
}

.butt-suivant {
  margin-left: 80vh;
}

.test {
  background-color: red;
  width: 100px;
  height: 100px;
}

.butt-precedent {
  margin-left: 35vh;
}

.para-event {
  border: 2px solid rgb(0, 74, 117);
  float: left;
}

.input-style {
  border-color: rgb(0, 74, 117);
  background-color: silver;
  color: rgb(0, 74, 117) !important;
}

.input-style::placeholder {
  color: rgb(0, 74, 117) !important;
}

.butt-valid {
  margin: right;
}

.butt-style {
  width: 100px;
  height: 30px;
  border: 2px solid rgb(0, 74, 117);
  background-color: white;
  color: rgb(0, 74, 117);
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  border-radius: 5px 5px;
}
