.dayCard {
  width: 13vw;
  height: 35vh;
  text-align: center;
  margin-right: 1vw;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 40px 40px 5px 5px !important;
}

.hourCard {
  width: 15vw;
  height: 35vh;
  text-align: center;
  margin-left: 1vw;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 40px 40px 5px 5px !important;
}

.DayContainer {
  display: flex !important;
  justify-content: space-around !important;
  flex-wrap: wrap !important;
}

.hourForm > * {
  width: 12vw;
}

.paramCard {
  margin-top: 20px;
  margin-left: 2vw;
  width: 96vw;
  height: 18vw;
  border-radius: 5px 5px 40px 40px !important;
}

.PageTitle {
  font-size: 4em;
  font-weight: bold;
  margin-left: 2vw;
  margin-top: 20px;
  margin-bottom: 20px;
}

.CardTitle {
  font-size: 1.2em;
  font-weight: 500;
  padding: 10px;
}

.ButtonDay {
  margin-top: 90px !important;
  margin-left: 100px !important;
}

.ButtonStarter {
  margin-top: 90px !important;
  margin-left: 60px !important;
}

.ButtonMeal {
  margin-top: 90px !important;
  margin-left: 60px !important;
}

.ButtonDessert {
  margin-top: 90px !important;
  margin-left: 60px !important;
}

.ButtonApply {
  margin-top: 90px !important;
  margin-left: 60px !important;
  padding: 15px !important;
}

@media all and (max-width: 500px) {
  .PageTitle {
    font-size: 2.5em;
    font-weight: bold;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .DayContainer {
    flex-direction: column;
  }

  .dayCard {
    width: 90vw;
    height: 35vh;
    text-align: center;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 40px 40px 40px 40px !important;
  }

  .hourCard {
    width: 90vw;
    height: 35vh;
    text-align: center;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 40px 40px 40px 40px !important;
  }

  .hourForm > * {
    width: 80vw;
  }

  .paramCard {
    margin-top: 20px;
    margin-left: 5vw;
    width: 90vw;
    height: 80vw;
    border-radius: 40px 40px 40px 40px !important;
  }
}
